.HomePage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background:#fff;
  position: absolute;
  top: 0;
  bottom: 0;
}

.HomePage-Container {
  width: 100%;
  height: 30rem;
  background: linear-gradient(to right,#0F2027,#203A43);
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 .HomePage-heading {
  width: 100%;
  text-align: center;
  color: #eee;
  text-shadow: 1rem 2rem 1rem rgba(255, 255, 255, 1);
  flex-wrap: wrap;

} 

.HomePage-greeting {
  width: 100%;
  margin: 2rem auto;
  text-align: center;
}

.HomePage-welcome  {
  padding: 1rem;
  font-size: 1.8rem;
}

.HomePage-form-box {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
  background-color: #eee;
  padding: 2rem;
  border-radius: 10px;
  transform: rotateY(-40deg) rotateZ(7deg);
  box-shadow: 1rem 2rem 2rem rgba(255, 255, 588, 0.3);
}

.HomePage-welcome-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 1rem;
}

.HomePage-Button {
  margin: 4px;
}

::placeholder {
  font-weight: 800;
  padding: 5px;
  columns: black;
}
