.SearchForm input:focus {
  box-shadow: none;
  border-color: #2f8eee;
}


.SearchForm-Form {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.SearchForm-Form span {
  position: relative;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255,0.5);
}